html {
  color: #ddbda6;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
  background-image: url('https://wallpaperaccess.com/full/2146222.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

/* LANDING PAGE */
.main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 600px;
  width: 100%;
}

.header {
  color: #7ba9d8;
  font-size: 30px;
  margin-top: 5%;
}

.information {
  color: white;
  font-size: 15px;
  margin-top: 5%;
  background-color: blue;
}

/* WEATHER */

.weather {
  font-family: "Gill Sans", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 5px;
  margin: 20px auto auto;
  padding: 5px;
  width: 100%;
  background-color:blue;
}

/* MUSIC */

.Music {
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-size: 15px;
  margin: 20px auto auto;
  width: 100%;
  background-color: blue;
}

.musicClass {
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-size: 15px;
  margin: auto auto auto;
  width: 100%;
}

/* IMAGES */
h5 {
  flex-direction: row;
}

.funfacts {
  font-family: "Gill Sans", sans-serif;
  color: white;
  font-size: 15px;
  margin: 20px auto auto;
  padding: 5px;
  width: 100%;
  background-color: blue;
}

.container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  transition: all 0.35s ease-in;
}

.food {
  justify-content: center;
  align-items: center;
  margin: auto auto auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.culture {
  justify-content: center;
  align-items: center;
  margin: auto auto auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.container img {
  border: none;
  transform: scale(1.2);
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 320px;
  margin: 20px;
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  position: static;
  width: 100%;
  padding: 10px;
  display: flex;
  transition: transform 0.4s; /* smoother zoom */
  z-index: -1;
  flex-direction: row;
}

.food:hover img {
  transform: scale(1.6);
  transform-origin: 50% 50%;
  z-index: 3000;
}

.culture:hover img {
  transform: scale(1.6);
  transform-origin: 50% 50%;
  z-index: 3000;
}

.vibe:hover img {
  transform: scale(1.6);
  transform-origin: 50% 50%;
  z-index: 3000;
}

.transportation:hover img {
  transform: scale(1.6);
  transform-origin: 50% 50%;
  z-index: 3000;
}

div.shake{ 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 2.5em; 
  color: rgb(4, 110, 4); 
} 
/*creating the shake animation*/ 

div:hover h2{ 
  animation:  shake 0.8s  ; 
} 

@keyframes shake{ 
  0%{ 
    transform: translateX(0) 
  } 
  25%{ 
    transform: translateX(25px); 
  } 
    
  50%{ 
    transform: translateX(-25px); 
  } 
  100%{ 
    transform: translateX(0px); 
  } 
} 
h2{
    color: red;
}